.searchtag{
    background-color:#434349c0;
    color:#6b7575a9 ;
    height: 25px;
    border-radius: 50px;
    padding-top:10px;
    padding-left:25px;
    margin-top:-5px;
        font-family: Roboto;
        width: 280px;
}
.container{
display:flex;
    gap:10px;
    align-item: flex-start;
    margin-top:12px;
        font-family: Roboto;
}
.profile{
    width:50px;
    height: 40px;
    border-radius :200px;
    }
    .textbox {
        display: flex;
        flex-direction:column;
        
        font-family: Roboto;
        }
    h3{
   margin-top:-2px;
        color: #ffffff;
    }
    .message{
        margin-top:-15px;
        color:#6b7575a9 ;
        white-space:nowrap;
    }
    
    body{
       
background-color: #0B141A;
    }
    h1{
        color: #ffffff;
        font-family: Roboto;
    }
    
    .sides{
        width:60px;
        height: 45px;
        padding-top:10px;
        padding-left:110px;
    }
    
    .top{
        display:flex;
    gap:10px;
    align-item: flex-start;
    
    }
    .time{
        display:flex;
        flex-direction:column;
        padding-left:60px;
        color: #25D366;
        margin-top:-15px;
        font-family: Roboto;
    } 
    
    .number{
       margin-top:-15px;
       margin-left:15px;
       background: #25D366;
       color:#0B141A;
       border-radius :50px; 
       padding:6px;
  width: 10px;
  height: 10px;
  }
  
  .time2{
          display:flex;
        flex-direction:column;
        padding-left:60px;
        color: #25D366;
        margin-top:-15px;
        margin-left:70px;
        font-family: Roboto;
    } 
    
    .time3{
            display:flex;
        flex-direction:column;
        padding-left:60px;
        color: #25D366;
        margin-top:-15px;
  margin-left:50px;
        font-family: Roboto;
    }
    
    .time4{
            display:flex;
        flex-direction:column;
        padding-left:60px;
        color: #25D366;
        margin-top:-15px;
    margin-left:45px;
        font-family: Roboto;
    }
  
  .time5 
  {
          display:flex;
        flex-direction:column;
        padding-left:60px;
        color: #25D366;
        margin-top:-15px;
    margin-left:-29px;
        font-family: Roboto;
  }
  
  .bottom {
      width:310px;
      height:60px:
      position: absolute;
  
  z-index: 2;          
      }
      
      .calllog {
          background: #eaffff;
          width: 50px;
          height: 50px;
          border-radius: 50px;
          margin-left:85px;
          padding-top:-20px;
          position: absolute;
  top: 10px;
  left: 20px;
  z-index: 1;           
  font-size: 18px;
  opacity:0;
          
      }
      
      .calllink {
          position:relative;
      }.overlay-box {
  
.icon {
  position: absolute;
  
  z-index: 2;           /* image on top */
}